absl-py
asn1crypto
astor
attrs
cachetools
certifi
cffi
chardet
conda
conda-package-handling
cryptography
cycler
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
joblib
Keras-Applications
Keras-Preprocessing
keyboard
kiwisolver
Markdown
matplotlib
more-itertools
natsort
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
Pillow
plotly
pluggy
portalocker
protobuf
py
pyasn1
pyasn1-modules
pycosat
pycparser
pyOpenSSL
pyparsing
PySocks
pytest
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
retrying
rsa
ruamel-yaml
sacrebleu
scikit-learn
scipy
sentencepiece
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
torch
torchtext
torchvision
tqdm
typing
urllib3
warmup-scheduler
wcwidth
Werkzeug
wrapt
xmltodict
zipp
